@font-face {
  font-family: bloomberg;
  src: url("./assets/bloomberg.woff2");
}
@font-face {
  font-family: lato;
  src: url("./assets/lato.woff2");
}

html,
body {
  min-height: 100%;
}

html {
  background: #000000;
  color: #ffffff;
  font-family: lato, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

h1 {
  font-family: bloomberg;
  font-weight: normal;
  font-size: 2.5em;
}

.input-container {
  margin-bottom: 16px;
}

label {
  display: block;
}

input {
  border: 1px solid white;
  padding: 8px;
  font-size: 1.2em;
}

button {
  font-size: 1.2em;
  width: 100%;
  padding: 0.4em;
  text-transform: uppercase;
  margin: 1em 0;
}

.info {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1em;
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff;
}

a {
  color: #ffffff;
}

p {
  text-align: center;
}
